version: '3'
services:
  elasticsearch:
    image: elasticsearch:9.2.2
    container_name: es-local
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    ports:
      - "9200:9200"